<header>
  <table style="width: 100%">
    <tbody>
      <tr style="height: 0">
        <td>
          <h2>
            <a
              href="https://clash-app-sandy.vercel.app"
              target="_blank"
              style="color: #ffffff; text-decoration: none"
            >
              Clash App
            </a>
          </h2>
        </td>
        <td style="text-align: right">
          <span style="font-size: 16px; line-height: 30px; color: #ffffff">
            <%= date %> | <%= time %>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</header>
